*{
    widows: 960px;;
}
#apc{
    margin-right:180px;
    background-color:orange;

}
a{
    color:#666666;
    text-decoration:none;
    padding:15px;
    color:#666666;
    /* padding:25px;   */
    /* align-items:baseline; THIS DOES NOTHING */

}

body{
    background-image: url(assets/images/back1.jpg);

}

.me{
    background:#4aaaa5;
    color:#ffffff;
    padding:10px;
    /* padding-bottom:10px; */
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    /* font-size:24px; */
    /* float: left; */
    margin-left:170px;
    /* margin-top:20px; */
    /* margin-top:10px; */
    /* text-align:left; */
    /* position:right; */
    /* position: relative; */
    /* padding-right:15px;
    padding-left:15px; */

}

img{
    height:25%;
    /* width:25%; */

}

#hline{
    border-bottom:5px solid black;

}

/* .link{
    color:#666666;
    text-decoration:none;
    padding:25px;  
    float: right;
} */

/* p{
    display:block; NO EFFECT WITH NAVBAR-TEXT*/
 
.work{
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
    background-color:white;
    height:274px;

  }